body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    position: relative;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
/* */
#company h1{
    padding-top: 160px;
    padding-left: 40px;
}
#company p{
    font-size: x-large;
    padding-left: 40px;
}
#company {
    background-color: #796a65;
    color: #fff;
    font-family: Montserrat, sans-serif;
}
.company{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgba(209, 229, 251, 0.37), rgba(18, 56, 125, 0.86)), url("../image/c.gif") center top no-repeat;
    background-size: cover;
    position: relative;
}
/*Development-css */
.personal-development{
    /*background-image: url("../image/personal1.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Exo 2', sans-serif;
    }
.career-development{
    background-image: url("../image/career1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Pacifico', cursive;
}
/*Design - CSS*/
.web-design{
    background-image: url("../image/web3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Exo 2', sans-serif;
}
.graphic-design{
    background-image: url("../image/graphic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Pacifico', cursive;
}
.personal-development h1{ color:#d0f992;}
.career-development h1{ color:#182029s;}
.web-design h1{ color:#182029s;}
.graphic-design h1{ color:#182029s;}
.personal-development p{color:#647586;font-size: 1vw;}
.career-development p{color:#ef0d2a;font-size: 1.4vw;}
.web-design p{color:#ef0d2a;font-size: 1.4vw;}
.graphic-design p{color:#ef0d2a;font-size: 1.4vw;}
.box-height{ height: 100vh;}
.box-height-1{ height: 90.5vh;padding-top: 3vh;}
.cursor-pointer{cursor:pointer;}
.a-color, .a-color:hover{color: rgba(0,0,0,.9); text-decoration: none !important;}
.nav-right{ padding-left: 29vw;padding-top: 3vh;}
.showNone{display: none;}
.showBlock{display:block;}
/*.nav-pills {position: fixed;padding-left: 13rem;}*/
.no-padding{padding:0 0  !important;}
.leftbar{background:#0e5763;}
.nav-pills .nav-link.active {background-color: unset !important;}
.font-2{font-size: 2vw;}
.margin-right-2{margin-right: 2vw;}
.margin-left-8{margin-left: 8vw;}
.container-fluid { padding: 100px 50px;}
.card-img-top{height: 25vh;padding-top: 5%;}
.bg-grey {background-color: #f6f6f6;}
.price{font-size: 1vw;font-weight: bold;margin-right: 7%;}
.card-title{font-weight:bold;}
.logo-items{width:5vw;border-radius: 10px;}
.total-courses{
    background-image: url("../image/total-courses.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:14vh;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}
.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #f4511e;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
/*Index HTML - CSS */
.navbar {
    margin-bottom: 0;
    background-color:#20417200;
    z-index: 9999;
    border: 0;
    font-size: 1rem !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    height: 10vh;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}